h1{font-family: "Mesquite Std Medium";
    src: url(../fonts/MesquiteStdMedium.ttf);
    font-size: 120px;
    font-display: center;
    letter-spacing: 5px;
    color: #fa0303;    
    position: absolute;
    left: 500px;
    top: -14%;
}


body{
    background-color: rgb(1, 1, 1);
}
#featureimage {
    width: 620px;
    padding: 0 0 0 15px;
    margin: 20px 0;
    text-align: center; /* Center the image horizontally */
}

#featureimage img {
    display: block; /* Treat the image as a block-level element */
    margin: 0 auto; /* Center the image horizontally within its container */
    width: 360px;
    height: 360px;
}
.info-button{
    position: absolute;
    
    width: 35px;
    bottom: 20px;
    right: 155px;
    font-size: 30px;
    color: white;
    border: 1px solid white;
    padding: 13px;
    border-radius: 100px;
    cursor: default;
}
.info-button:hover{
    color: black;
    background: white;
}
.info-window{
    width: 250px;
    height: 180px;
    background: #fc0101;
    padding: 20px;
    font-size: 18px;
    color: white;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%) ;
}
.hidden{
display: none;
}
.disclaimer-button{
    position: absolute;
    bottom: 20px;
    right: 87px;
    font-size: 30px;
    color: white;
    border: 1px solid white;
    padding: 10px;
    border-radius: 100px;
    cursor: default;
}
.disclaimer-button:hover{
    color: black;
    background: white;
}
.disclaimer-window{
    width: 250px;
    height: 180px;
    background: #fc0101;
    padding: 20px;
    font-size: 18px;
    color: white;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%) ;
}
.hidden{
display: none;
}
.list-button{
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 30px;
    color: white;
    border: 1px solid white;
    padding: 10px;
    border-radius: 100px;
    cursor: pointer;
}
.list-button:hover{
    color: black;
    background: #fc0101;
}
.list-window{
    width: 250px;
    height: 250px;
    background: #fc0101;
    padding: 20px;
    font-size: 18px;
    color: white;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%) ;
}
.hidden{
display: none;
}
img{
    position: absolute;
    right: 57.1%;
    top: 20%;
}
.img2{
    position: absolute;
    left: 10%;
    bottom: 0.1%;
}
.pinnewyork-button{
    background: #fc0101;
    position: absolute;
    width: 0px;
    height: 0px;
    border-radius: 0px;
    right: 330px;
    top: 200px;
    transition: all 1s;
}
.pinnewyork-button:hover{
    font-size: 80px;
}
.pinnewyork-window span {
    color: rgb(253, 254, 254);
    display: inline-block;
    white-space: nowrap;
    max-width: 600px;
    position: absolute;
    left: 45px;
    top: 9px;
    transform: translateX(-380px);
    background: #fc0101;
    border-radius: 8px;
    padding: 3px 6px;
    font-size: 12px;
}
.pinnewyork-window:hover{
	font-size: 80px;
}

.pinnewmexico-button{
    background: #fc0101;
    position: absolute;
    width: 0px;
    height: 0px;
    border-radius: 0px;
    left: 480px;
    bottom: 200px;
    transition: all 1s;
}
.pinnewmexico-button:hover{
    font-size: 80px;
}
.pinnewmexico-window span{
    color: rgb(253, 254, 254);
    display: inline-block;
    white-space: nowrap;
    max-width: 600px;
    position: absolute;
    left: 24px;
    top: 14px;
    transform: translateY(-6px);
    background: #fc0101;
    border-radius: 8px;
    padding: 3px 6px;
    font-size: 12px;
}

.pinwashigton-button{
    background: #fc0101;
    position: absolute;
    width: 0px;
    height: 0px;
    border-radius: 0px;
    left: 340px;
    top: 210px;
    transition: all 1s;
}
.pinwashigton-button:hover{
    font-size: 80px;
}
.pinwashigton-window span{
    color: rgb(253, 254, 254);
    display: inline-block;
    white-space: nowrap;
    max-width: 1000px;
    position: absolute;
    left: 24px;
    top: 14px;
    transform: translateY(-6px);
    background: #fc0101;
    border-radius: 8px;
    padding: 3px 6px;
    font-size: 12px;
}

.pinsouthdakota-button{
    background: #fc0101;
    position: absolute;
    width: 0px;
    height: 0px;
    border-radius: 0px;
    left: 520px;
    top: 130px;
    transition: all 1s;
}
.pinsouthdakota-button:hover{
    font-size: 80px;
}
.pinsouthdakota-window span{
    color: rgb(253, 254, 254);
    display: inline-block;
    white-space: nowrap;
    max-width: 400px;
    position: absolute;
    left: 45px;
    top: 9px;
    transform: translateX(-260px);
    background: #fc0101;
    border-radius: 8px;
    padding: 3px 6px;
    font-size: 12px;
}

.pingeorgia-button{
    background: #fc0101;
    position: absolute;
    width: 0px;
    height: 0px;
    border-radius: 0px;
    right: 400px;
    top: 400px;
    transition: all 1s;
}
.pingeorgia-button:hover{
    font-size: 80px;
}
.pingeorgia-window span{
    color: rgb(253, 254, 254);
    display: inline-block;
    white-space: nowrap;
    max-width: 400px;
    position: absolute;
    left: 24px;
    top: 14px;
    transform: translateY(-6px);
    background: #fc0101;
    border-radius: 8px;
    padding: 3px 6px;
    font-size: 12px;
}

.pinkansas-button{
    background: #fc0101;
    position: absolute;
    width: 0px;
    height: 0px;
    border-radius: 0px;
    right: 580px;
    top: 250px;
    transition: all 1s;
}
.pinkansas-button:hover{
    font-size: 80px;
}
.pinkansas-window span{
    color: rgb(253, 254, 254);
    display: inline-block;
    white-space: nowrap;
    max-width: 700px;
    position: absolute;
    left: 45px;
    top: 9px;
    transform: translateX(-400px);
    background: #fc0101;
    border-radius: 8px;
    padding: 3px 6px;
    font-size: 12px;
}

.pinmiami-button{
    background: #fc0101;
    position: absolute;
    width: 0px;
    height: 0px;
    border-radius: 0px;
    right: 270px;
    top: 150px;
    transition: all 1s;
}
.pinmiami-button:hover{
    font-size: 80px;
}
.pinmiami-window span{
    color: rgb(253, 254, 254);
    display: inline-block;
    white-space: nowrap;
    max-width: 600px;
    position: absolute;
    left: 45px;
    top: 9px;
    transform: translateX(-360px);
    background: #fc0101;
    border-radius: 8px;
    padding: 3px 6px;
    font-size: 12px;
}

.pintexas-button{
    background: #fc0101;
    position: absolute;
    width: 0px;
    height: 0px;
    border-radius: 0px;
    left: 600px;
    bottom: 120px;
    transition: all 1s;
}
.pintexas-button:hover{
    font-size: 80px;
}
.pintexas-window span{
    color: rgb(253, 254, 254);
    display: inline-block;
    white-space: nowrap;
    max-width: 400px;
    position: absolute;
    left: 24px;
    top: 14px;
    transform: translateY(-6px);
    background: #fc0101;
    border-radius: 8px;
    padding: 3px 6px;
    font-size: 12px;
}

.pinohio-button{
    background: #fc0101;
    position: absolute;
    width: 0px;
    height: 0px;
    border-radius: 0px;
    right: 420px;
    top: 288px;
    transition: all 1s;
}
.pinohio-button:hover{
    font-size: 80px;
}
.pinohio-window span{
    color: rgb(253, 254, 254);
    display: inline-block;
    white-space: nowrap;
    max-width: 600px;
    position: absolute;
    left: 24px;
    top: 14px;
    transform: translateX(-80px);
    background: #fc0101;
    border-radius: 8px;
    padding: 3px 6px;
    font-size: 12px
}

.pincalifornia-button{
    background: #fc0101;
    position: absolute;
    width: 0px;
    height: 0px;
    border-radius: 0px;
    left: 300px;
    bottom: 260px;
    transition: all 1s;
}
.pincalifornia-button:hover{
    font-size: 80px;
}
.pincalifornia-window span{
    color: rgb(253, 254, 254);
    display: inline-block;
    white-space: nowrap;
    max-width: 400px;
    position: absolute;
    left: 24px;
    top: 14px;
    transform: translateY(-6px);
    background: #fc0101;
    border-radius: 8px;
    padding: 3px 6px;
    font-size: 12px;
}
.pinnewyork-window span:hover{
	font-size: 15px;
}
.pinnewmexico-window span:hover{
	font-size: 15px;
}
.pinwashigton-window span:hover{
	font-size: 15px;
}
.pinsouthdakota-window span:hover{
	font-size: 15px;
}
.pingeorgia-window span:hover{
	font-size: 15px;
}
.pinkansas-window span:hover{
	font-size: 15px;
}
.pinmiami-window span:hover{
	font-size: 15px;
}
.pintexas-window span:hover{
	font-size: 15px;
}
.pinohio-window span:hover{
	font-size: 15px;
}
.pincalifornia-window span:hover{
	font-size: 15px;
}
